#home {
    height: 100vh;
}

#home p {
    color: var(--primary-text);
    margin: 10px;
}

#aboutShort {
    height: 100vh;
    background-color: var(--bottom-gradient);
}

#aboutShort p {
    color: var(--primary-text);
    margin: 10px;
}